<!DOCTYPE html>
<html>
    <head>
        <title>Mawson's Blog</title>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top navbar-inverse">
          <div class="container">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-folder-open"></span> Menu<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('posts', name='hello_world') }}">Clock</a></li>
                  </ul>
              </li>
            </ul>
          </div>
        </nav>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>Mawson's Blog</h1>
                <p>This is the blog of Matthew Mawson, born December 24th 1998.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h3>Looking Good</h3>
                <p>
                I recently got back into Minecraft, playing on a server. Here are the results after a month.
                </p>
                <img src="https://cloud.githubusercontent.com/assets/15985102/13581263/f9cc512e-e49d-11e5-9850-3d08ffd60b6c.png">
                <hr>
                <h3>Change Log</h3>
                <p>
                <br>
                Updates and fixes to the wedsite include;
                <br>
                <ul>
                    <li class ="list">The blog is now on one main page to make updating easier</li>
                    <li class ="list">A clock has been added, see in the menu</li>
                    <li class ="list">New logos on the menu</li>
                    <li class ="list">Bugs fixed</li>
                    <li class ="list">Removed Herobrine</li>
                </ul>
                </p>
                <hr>
                <h3>31/1/16</h3>
                <p>
                <br>
                    So, here it is; 2016!
                <br>
                    A time to look back on the year passed and what is to come in 2016.
                    Last year was GCSE year, when the previous years of learning culminates in exams. In doing History, Geography, Computing and German as options along with the compulsory subjects I managed to total up 21 exams, about the same in an A-Level year, but I got through them all right.
                <br>
                    By doing large revision poster of all the science textbooks; 6 per book, I managed to receive A*s in all of those, with A*s and As for the rest of the subjects; well, except German. I got a C… and that is the end of that topic! 
                <br>
                    The school prom was held after exams, but I my opinion it is a complete waste of time when I could be playing Minecraft!
                <br>
                    The summer holidays flew by as we went on a holiday to Wales. The weather stayed nice and we managed to visit lots interesting locations be it on the coast, or up a mountain.
                <br>
                    A-Levels came beckoning and it was back to School, but this time with free periods, and only 4 subjects to deal with; Maths, Further Maths, Chemistry and Computing. My computing teacher seems to think as the hardest selection of A-Levels. However, all are going well and I should perform well in the end of year exams, 5-6 blog posts away.
                <br> 
                    In the middle of the first term, I went to Villiers Park to do a computing residential course, where this blog was born!
                <br>
                    Now, on to the interesting bit; the non-school related stuff.
                    At the end of the Summer Chris lent me his N64 indefinitely with a few games which I have added to over the past months to get a healthy total of 7, 3 of which are boxed. I also got an original Playstation which I have been collecting games for as well. Most of these are from charity shops for £1 and are far more common than N64 games of which I have only ever seen 1 for sale. 
                <br>
                <br>
                    Recently I got a new computer from eBay, £99 for an Acer business machine with 2nd generation i3, 4GB ram, and windows 7 professional. I am now trying to get hold of a 750ti to make it a reasonable low-mid range gaming pc.
                    In the past week I have been able to play some games on my new PC, even without the new graphics card; they include; TF2 (7 hours already), Portal 2 and Just Cause 2. 
                    Of which only one has got it’s 3rd iteration (Valve!), all equally fun games which don’t need an intergalactic super computer to run.
                <br>
                <br>
                    In the world of programming, I have been experimenting with Blitz 3D, a now redundant language for easy 3D development. Also, I have been using C# for a few projects, including making a program for my Further Maths coursework (yes, coursework in maths!). By using doubles I can get 15 decimal places of pi rather than a measly 11!
                <br>
                <br>
                    This pretty much wraps up this post, but it is now time for; KITTEN OF THE MONTH!
                <br>
                    <img src="http://www.hartismere.com/x/?m=waiter&p=kitten4.jpg">
            <hr>
            <h3>December 2015</h3>
                    <p>So, after a failed blog on this domain I have decided to give it a new life! From now on there will be a new post at the end of every month summing up what I have been doing. Watch this space for the full December post coming soon! </p>
                    <p>Welcome to our first regular feature:
                    KITTEN OF THE MONTH!</p>
                    <img src="http://dreamatico.com/data_images/kitten/kitten-2.jpg">
            <hr>
          </div>
        </div>
    </body>
</html>
