<!DOCTYPE html>
<html>
  <head>
    <title>{{ author }}'s post</title>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
  </head>

  <body>
    <h2>Hello {{ author }}!</h2>
	<p>This is the text editor for the blog</p>
<form method="POST">
    <h3>Enter a title</h3>
	<input type="text">
    <h4>Enter the post text</h4>
	<textarea rows="4" cols="30" name="text"></textarea>
	<input type="submit" name="write" value="Send">
<form>
  </body>
</html>


