<!DOCTYPE html>
<html>
<head>
<title>Higher or Lower</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
<style>
    .small
    {
      font-size: 70%;
    }  
    .reset
    {
      height : 120px;
    }
    button
    {
	background-color:#d0451b;
	border:1px solid #942911;
	color:#ffffff;
	text-shadow:0px 1px 0px #854629;
	width: 100%;
	height: 60px;
    }
    button:active {
	position:relative;
	top:1px;
    }
    button:hover 
    {
      background-color: #b53c17
    }
    table:
    {
    	table-layout:fixed;
    	width: 300px;
    	height 120px;
    }
    td:
    {
    	overflow: hidden; 
    }
  </style>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
          <div class="container">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
              </li>
            </ul>
          </div>
        </nav>
<body>
<div class = "container">
    <div class = "row">
      <h1>Higher or Lower</h1>
      <h2> Game of the Year Edition</h2>
      <table border = 1 cellspacing="0" cellpadding="0"> 
        <tr>
        <td><button id = "LBTN" onclick = "playGame('0')">Choose Lower</button></td>
        <td><button id = "HBTN" onclick = "playGame('1')">Choose Higher</button></td>
        <td><p align = center width = 120 height = 60 id = "Score">Score: 0 </p></td>
        <td><p align = center width = 120 height = 60 id = "Lives">Lives: 3</p></td>
        <td rowspan = "2" align = center><button  onclick = "reset()" class = "reset" >Reset</button></td>
        </tr>
        <tr>        
        <td align = center width = 80 height = 60><p class = "small" id = "OldCard"></p></td>
        <td align = center width = 80 height = 60><p id = "Card"></p></td>
        <td colspan = "2" width = 200 height = 60 align = center ><p id = "Result"></p></td>
        </tr>
      </table>
	    
	<br>
<h1>Asher's Komedy Korner</h1>
	<br>
<table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td bgcolor="lightgreen">
<table border="0" cellspacing="0" cellpadding="0" >
<tbody>
<tr>
<td align="center" width = 300 height = 60>November</td>
</tr>
<tr>
<td><button id = "Nov1" onclick= "jokes('Nov1A')">What do you call a high pitched piece of boating equipment?</button></td>
</tr>
<tr>
<td><div id = "Nov1A" style="display: none;">A Shrill Anchor!</div></td>
</tr
<tr>
<td><button id = "Nov2" onclick= "jokes('Nov2A')">What do you call a country with an epidemic of bateria?</button></td>
</tr>
<tr>
<td><div id = "Nov2A" style="display: none;">Germany!</div></td>
</tr>
<tr>
<td><button id = "Nov3" onclick= "jokes('Nov3A')">What do you call the first ever woman made out of clay?</button></td>
</tr>
<tr>
<td><div id = "Nov3A" style="display: none;">A Mould-Eves!</div></td>
</tr>
</tbody>
</table>
</td>
</tbody>
</table>
	    
    </div>
  </div>
  <script>
  var currentCard = ["Ace", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine", "Ten", "Jack", "Queen", "King", "Click a button to guess"];
  var Card = getCard();
  var OldCard;
  var TCard = document.getElementById("Card");
  var TOldCard = document.getElementById("OldCard");
  var Result = document.getElementById("Result");
  var lives;
  var score;

  reset(); 

  function getCard() {
   return Math.floor(Math.random() * 13);
  }

  function playGame(choice){
    OldCard = Card;
    Card = getCard();
    
    TCard.innerHTML = currentCard[Card];
    if (Card < OldCard && choice === '0')
    {
        Result.innerHTML = "Correct, it was lower";
        score++;
    }
    else if (Card > OldCard && choice === '1')
    {
        Result.innerHTML = "Correct, it was higher";    
        score++;
    }
    else if (Card === OldCard)
    {
        Result.innerHTML = "Draw";    
        score++;
    }
    else
    {
        Result.innerHTML = "Incorrect; one life lost";
        lives--;
    }
    updateText();
    
    if (lives === 0 )
    {
      TCard.innerHTML = "You lose!"
      document.getElementById("LBTN").disabled = true;
      document.getElementById("HBTN").disabled = true;
    }
  }

  function reset() 
  {
    lives = 3;
    score = 0;
    OldCard = 13;
    updateText();
    document.getElementById("LBTN").disabled = false;
    document.getElementById("HBTN").disabled = false;
  }
    
  function updateText()
  {
    document.getElementById("Score").innerHTML = "Score: " + score;
    document.getElementById("Lives").innerHTML = "Lives: " + lives;
    TCard.innerHTML = currentCard[Card];
    TOldCard.innerHTML = currentCard[OldCard];
  }  
	  
function jokes(name)
{

var div = document.getElementById(name);
    if (div.style.display !== 'none') {
      	 div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
}	  
	  
  </script>
</body>
</html>
