<!DOCTYPE html>
<html>
<head>
<title>Higher or Lower</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
<style>
    .small
    {
      font-size: 70%;
    }  
    .reset
    {
      height : 120px;
    }
    button
    {
	background-color:#d0451b;
	border:1px solid #942911;
	color:#ffffff;
	text-shadow:0px 1px 0px #854629;
	width: 100%;
	height: 60px;
    }
    button:active {
	position:relative;
	top:1px;
    }
    button:hover 
    {
      background-color: #b53c17
    }
  </style>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
          <div class="container">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-folder-open"></span> Menu<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('posts', name='hello_world') }}">Clock</a></li>
                    <li><a href="{{ url_for('posts', name='HLGame') }}">Higher or Lower</a></li>
                  </ul>
              </li>
            </ul>
          </div>
        </nav>
<body>
<div class = "container">
    <div class = "row">
      <h1>Higher or Lower</h1>
      <h2> Game of the Year Edition</h2>
      <table border = 1> 
        <tr>
        <td><button id = "LBTN" onclick = "playGame('0')">Choose Lower</button></td>
        <td><button id = "HBTN" onclick = "playGame('1')">Choose Higher</button></td>
        <td><p align = center width = 120 id = "Score">Score: 0 </p></td>
        <td><p align = center width = 120 id = "Lives">Lives: 3</p></td>
        <td rowspan = "2" align = center><button  onclick = "reset()" class = "reset" >Reset</button></td>
        </tr>
        <tr>        
        <td align = center width = 80 ><p class = "small" id = "OldCard"></p></td>
        <td align = center width = 80><p id = "Card"></p></td>
        <td colspan = "2" width = 200 align = center ><p id = "Result"></p></td>
        </tr>
      </table>
    </div>
  </div>
  <script>
  var currentCard = ["Ace", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine", "Ten", "Jack", "Queen", "King", "Click a button to guess"];
  var Card = getCard();
  var OldCard;
  var TCard = document.getElementById("Card");
  var TOldCard = document.getElementById("OldCard");
  var Result = document.getElementById("Result");
  var lives;
  var score;

  reset(); 

  function getCard() {
   return Math.floor(Math.random() * 13);
  }

  function playGame(choice){
    OldCard = Card;
    Card = getCard();
    
    TCard.innerHTML = currentCard[Card];
    if (Card < OldCard && choice === '0')
    {
        Result.innerHTML = "Correct, it was lower";
        score++;
    }
    else if (Card > OldCard && choice === '1')
    {
        Result.innerHTML = "Correct, it was higher";    
        score++;
    }
    else if (Card === OldCard)
    {
        Result.innerHTML = "Draw";    
        score++;
    }
    else
    {
        Result.innerHTML = "Incorrect; one life lost";
        lives--;
    }
    updateText();
    
    if (lives === 0 )
    {
      TCard.innerHTML = "You lose!"
      document.getElementById("LBTN").disabled = true;
      document.getElementById("HBTN").disabled = true;
    }
  }

  function reset() 
  {
    lives = 3;
    score = 0;
    OldCard = 13;
    updateText();
    document.getElementById("LBTN").disabled = false;
    document.getElementById("HBTN").disabled = false;
  }
    
  function updateText()
  {
    document.getElementById("Score").innerHTML = "Score: " + score;
    document.getElementById("Lives").innerHTML = "Lives: " + lives;
    TCard.innerHTML = currentCard[Card];
    TOldCard.innerHTML = currentCard[OldCard];
  }  
  </script>
</body>
</html>
