<!DOCTYPE html>
<html>
<head>
<title>Post 2</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
<div class="container">
<ul class="nav navbar-nav">
<li class="active">
<a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog Posts <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li><a href="{{ url_for('posts', name='hello_world') }}">Hello World</a></li>
</ul>
</li>
</ul>
</div>
</nav>
<body>
<div class="container">
<div class="row">
<h3>24/11/15</h3>
<p>
blog 2 <br>
Being lazy is apparently a very important part of software, soo…. No blog then!
Anyway, being lazy means not doing work you don’t have to, in order to get a better result for you and save time. For example you can copy and paste work from other people in order to save time and not waste your effort when somebody has already done it before you. Also, don’t just copy the code you have found, you could try and make it more efficient for your program, changing some variable names, or maybe just be a lazy and don’t bother at all.
Problem solving is the other important part of software engineering, you have to break down a problem into bitesize chunks to work on individually to get a better overall whole. These problems can be big ones that cover the whole program or just little issues that could be fixed once and then forgotten about. All these parts of the program should be written down, don’t be that lazy, so you can gauge how well you are getting though the whole program and can meet deadlines.
Now remember you didn’t have to read this whole post, but you did, so shame on you! Computing is about being la… <br>
                        
blog 2
</p>
</div>
</div>
</div>
</body>
</html>
